<div class="content-wrapper">
  <div class="container-fluid">
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <span>PACOTES</span>
      </li>
    </ol>
<div class="card-deck">
    <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
      <div class="card-header"> <i class="fab fa-instagram"></i> 100 curtidas por post instagram</div>
      <div class="card-body">
        <h5 class="card-title"><i class="far fa-money-bill-alt"></i> Valor</h5>
        <p class="card-text">10 post<br>
                            100 curtidas em cada<br>
                            serviço automático<br> 
        </p>
        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Usuário">
        <button type="button" class="btn btn-primary">Comprar</button>
      </div>

    </div>
    <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
      <div class="card-header"> <i class="fab fa-instagram"></i> 200 curtidas por post instagram</div>
      <div class="card-body">
        <h5 class="card-title">Secondary card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
    <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
      <div class="card-header"> <i class="fab fa-instagram"></i> 500 curtidas por post instagram</div>
      <div class="card-body">
        <h5 class="card-title">Success card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
  </div>

  <div class="card-deck">
    <div class="card text-white bg-danger mb-3" style="max-width: 18rem;">
      <div class="card-header"> <i class="fab fa-instagram"></i> 1000 curtidas por post instagram</div>
      <div class="card-body">
        <h5 class="card-title">Danger card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
    <div class="card text-white bg-warning mb-3" style="max-width: 18rem;">
      <div class="card-header"> <i class="fab fa-instagram"></i> 2000 curtidas por post instagram</div>
      <div class="card-body">
        <h5 class="card-title">Warning card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
    <div class="card text-white bg-info mb-3" style="max-width: 18rem;">
      <div class="card-header"> <i class="fab fa-instagram"></i> 3000 curtidas por post instagram</div>
      <div class="card-body">
        <h5 class="card-title">Info card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
  </div>
    <div class="card bg-light mb-3" style="max-width: 18rem;">
      <div class="card-header">Header</div>
      <div class="card-body">
        <h5 class="card-title">Light card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
    <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
      <div class="card-header">Header</div>
      <div class="card-body">
        <h5 class="card-title">Dark card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
    

    </div>
