<div class="content-wrapper">
    <div class="container-fluid">
      <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <span>PACOTES - Auto Likes (Em Manutenção)</span>
        </li>
      </ol>
  <div class="card-deck">
      <div class="card text-dark bg-light mb-3" style="max-width: 18rem;">
        <div class="card-header"> <i class="fab fa-instagram"></i> Pacote 1000 Curtidas instagram</div>
        <div class="card-body">
          <h5 class="card-title"><i class="far fa-money-bill-alt"></i> R$15</h5>
       
          <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1"><i class="fab fa-instagram"></i> </span>
              </div>
              <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
            </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <label class="input-group-text" for="inputGroupSelect01">Post</label>
            </div>
            <select class="custom-select" id="inputGroupSelect01">
              <option selected>Quantidade de post..</option>
              <option value="10">10</option>
              <option value="20">20</option>
              <option value="30">30</option>
            </select>
            <span style="font-size: 0.9em; color: grey" id="helpBlock" class="help-block">A quantidade de curtida por post ou foto será o pacote divido pelo numero de post que escolher ex: 1000/10, 1000/20 e 1000/30.</span>
          </div>

            <button type="button" class="btn btn-primary btn-lg btn-block">Comprar</button>
        </div>
  
      </div>
      <div class="card text-dark bg-light mb-3" style="max-width: 18rem;">
        <div class="card-header"> <i class="fab fa-instagram"></i> Pacote 2000 Curtidas instagram</div>
        <div class="card-body">
          <h5 class="card-title"><i class="far fa-money-bill-alt"></i> R$30</h5>
          
          <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1"><i class="fab fa-instagram"></i> </span>
              </div>
              <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
            </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <label class="input-group-text" for="inputGroupSelect01">Post</label>
            </div>
            <select class="custom-select" id="inputGroupSelect01">
              <option selected>Quantidade de post..</option>
              <option value="10">10</option>
              <option value="20">20</option>
              <option value="30">30</option>
            </select>
            <span style="font-size: 0.9em; color: grey" id="helpBlock" class="help-block">A quantidade de curtida por post ou foto será o pacote divido pelo numero de post que escolher ex: 1000/10, 1000/20 e 1000/30.</span>
          </div>
         
            <button type="button" class="btn btn-primary btn-lg btn-block">Comprar</button>
        </div>
      </div>
      <div class="card text-dark bg-light mb-3" style="max-width: 18rem;">
        <div class="card-header"> <i class="fab fa-instagram"></i> Pacote 3000 Curtidas instagram</div>
        <div class="card-body">
          <h5 class="card-title"><i class="far fa-money-bill-alt"></i> R$45</h5>
          
          <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1"><i class="fab fa-instagram"></i> </span>
              </div>
              <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
            </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <label class="input-group-text" for="inputGroupSelect01">Post</label>
            </div>
            <select class="custom-select" id="inputGroupSelect01">
              <option selected>Quantidade de post..</option>
              <option value="10">10</option>
              <option value="20">20</option>
              <option value="30">30</option>
            </select>
            <span style="font-size: 0.9em; color: grey" id="helpBlock" class="help-block">A quantidade de curtida por post ou foto será o pacote divido pelo numero de post que escolher ex: 1000/10, 1000/20 e 1000/30.</span>
          </div>
         
            <button type="button" class="btn btn-primary btn-lg btn-block">Comprar</button>
        </div>
      </div>
    </div>
  
    <div class="card-deck">
      <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
        <div class="card-header"> <i class="fab fa-instagram"></i> Pacote 4000 Curtidas instagram</div>
        <div class="card-body">
          <h5 class="card-title"><i class="far fa-money-bill-alt"></i> R$60</h5>
          
          <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1"><i class="fab fa-instagram"></i> </span>
              </div>
              <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
            </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <label class="input-group-text" for="inputGroupSelect01">Post</label>
            </div>
            <select class="custom-select" id="inputGroupSelect01">
              <option selected>Quantidade de post..</option>
              <option value="10">10</option>
              <option value="20">20</option>
              <option value="30">30</option>
            </select>
            <span style="font-size: 0.9em; color: white" id="helpBlock" class="help-block">A quantidade de curtida por post ou foto será o pacote divido pelo numero de post que escolher ex: 1000/10, 1000/20 e 1000/30.</span>
          </div>
         
            <button type="button" class="btn btn-primary btn-lg btn-block">Comprar</button>
        </div>
      </div>
      <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
        <div class="card-header"> <i class="fab fa-instagram"></i> Pacote 5000 Curtidas instagram</div>
        <div class="card-body">
          <h5 class="card-title"><i class="far fa-money-bill-alt"></i> R$75</h5>
         
          <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1"><i class="fab fa-instagram"></i> </span>
              </div>
              <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
            </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <label class="input-group-text" for="inputGroupSelect01">Post</label>
            </div>
            <select class="custom-select" id="inputGroupSelect01">
              <option selected>Quantidade de post..</option>
              <option value="10">10</option>
              <option value="20">20</option>
              <option value="30">30</option>
            </select>
            <span style="font-size: 0.9em; color: white" id="helpBlock" class="help-block">A quantidade de curtida por post ou foto será o pacote divido pelo numero de post que escolher ex: 1000/10, 1000/20 e 1000/30.</span>
          </div>
         
            <button type="button" class="btn btn-primary btn-lg btn-block">Comprar</button>
        </div>
      </div>
      <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
        <div class="card-header"> <i class="fab fa-instagram"></i> Pacote 6000 Curtidas instagram</div>
        <div class="card-body">
          <h5 class="card-title"><i class="far fa-money-bill-alt"></i> R$90</h5>
        
          <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1"><i class="fab fa-instagram"></i> </span>
              </div>
              <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
            </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <label class="input-group-text" for="inputGroupSelect01">Post</label>
            </div>
            <select class="custom-select" id="inputGroupSelect01">
              <option selected>Quantidade de post..</option>
              <option value="10">10</option>
              <option value="20">20</option>
              <option value="30">30</option>
            </select>
            <span style="font-size: 0.9em; color: white" id="helpBlock" class="help-block">A quantidade de curtida por post ou foto será o pacote divido pelo numero de post que escolher ex: 1000/10, 1000/20 e 1000/30.</span>
          </div>
         
            <button type="button" class="btn btn-primary btn-lg btn-block">Comprar</button>
        </div>
      </div>
    </div>
    <div class="card-deck">
      <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
        <div class="card-header">Pacote 7000 Curtidas instagram</div>
        <div class="card-body">
          <h5 class="card-title"><i class="far fa-money-bill-alt"></i> R$105</h5>
         
          <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1"><i class="fab fa-instagram"></i> </span>
              </div>
              <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
            </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <label class="input-group-text" for="inputGroupSelect01">Post</label>
            </div>
            <select class="custom-select" id="inputGroupSelect01">
              <option selected>Quantidade de post..</option>
              <option value="10">10</option>
              <option value="20">20</option>
              <option value="30">30</option>
            </select>
            <span style="font-size: 0.9em; color: white" id="helpBlock" class="help-block">A quantidade de curtida por post ou foto será o pacote divido pelo numero de post que escolher ex: 1000/10, 1000/20 e 1000/30.</span>
          </div>
         
            <button type="button" class="btn btn-primary btn-lg btn-block">Comprar</button>
        </div>
      </div>
      <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
        <div class="card-header">Pacote 8000 Curtidas instagram</div>
        <div class="card-body">
          <h5 class="card-title"><i class="far fa-money-bill-alt"></i> R$120</h5>
          
          <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1"><i class="fab fa-instagram"></i> </span>
              </div>
              <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
            </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <label class="input-group-text" for="inputGroupSelect01">Post</label>
            </div>
            <select class="custom-select" id="inputGroupSelect01">
              <option selected>Quantidade de post..</option>
              <option value="10">10</option>
              <option value="20">20</option>
              <option value="30">30</option>
            </select>
            <span style="font-size: 0.9em; color: white" id="helpBlock" class="help-block">A quantidade de curtida por post ou foto será o pacote divido pelo numero de post que escolher ex: 1000/10, 1000/20 e 1000/30.</span>
          </div>
         
            <button type="button" class="btn btn-primary btn-lg btn-block">Comprar</button>
        </div>
      </div>
  
      <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
        <div class="card-header">Pacote 9000 Curtidas instagram</div>
        <div class="card-body">
          <h5 class="card-title"><i class="far fa-money-bill-alt"></i> R$135</h5>
          
          <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1"><i class="fab fa-instagram"></i> </span>
              </div>
              <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
            </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <label class="input-group-text" for="inputGroupSelect01">Post</label>
            </div>
            <select class="custom-select" id="inputGroupSelect01">
              <option selected>Quantidade de post..</option>
              <option value="10">10</option>
              <option value="20">20</option>
              <option value="30">30</option>
            </select>
            <span style="font-size: 0.9em; color: white" id="helpBlock" class="help-block">A quantidade de curtida por post ou foto será o pacote divido pelo numero de post que escolher ex: 1000/10, 1000/20 e 1000/30.</span>
          </div>
         
            <button type="button" class="btn btn-primary btn-lg btn-block">Comprar</button>
        </div>
      </div>
    </div>
  
      </div>
  