.btn {
  margin: 0px;
  border-color: none;
}

button {
  border: none;
  outline: none;
}

.form-control {
  margin: 0px;
}

.msg {
  background-color: #ffc107;
  border-radius: 4px;
}

.msg p {
  font-size: 0.9rem;
}