<div class="content-wrapper">
  <div class="container-fluid">
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <span>PACOTES - Auto Likes (Em Manutenção) | Em carteira: {{carteira}}</span>
      </li>
    </ol>
    <div class="card-deck">
      <div class="card text-dark bg-light mb-3" style="max-width: 18rem;">
        <div class="card-header">
          <i class="fab fa-instagram"></i> Pacote 1000 Curtidas instagram</div>
        <div class="card-body">
          <h5 class="card-title">
            <i class="far fa-money-bill-alt"></i> R$15</h5>

          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">
                <i class="fab fa-instagram"></i>
              </span>
            </div>
            <input #user type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
            <input #service type="hidden" class="form-control" value="Pacote 1000 curtidas" aria-label="Username" aria-describedby="basic-addon1">
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <label class="input-group-text" for="inputGroupSelect01">Post</label>
            </div>
            <select #qtd class="custom-select" id="inputGroupSelect01">
              <option selected>Quantidade de post..</option>
              <option value="10">10</option>
              <option value="20">20</option>
              <option value="30">30</option>
            </select>
            <span style="font-size: 0.9em; color: grey" id="helpBlock" class="help-block">A quantidade de curtida por post ou foto será o pacote divido pelo numero de post que escolher ex: 1000/10, 1000/20
              e 1000/30.</span>
          </div>

          <button *ngIf="carteira > 15" type="button" class="btn btn-primary btn-lg btn-block" (click)="enviarPacote(user.value, qtd.value, service.value, 15)">Comprar</button>
        </div>

      </div>
      <div class="card text-dark bg-light mb-3" style="max-width: 18rem;">
        <div class="card-header">
          <i class="fab fa-instagram"></i> Pacote 2000 Curtidas instagram</div>
        <div class="card-body">
          <h5 class="card-title">
            <i class="far fa-money-bill-alt"></i> R$30</h5>

          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">
                <i class="fab fa-instagram"></i>
              </span>
            </div>
            <input #user2 type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
            <input #service2 type="hidden" class="form-control" value="Pacote 2000 curtidas" aria-label="Username" aria-describedby="basic-addon1">
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <label class="input-group-text" for="inputGroupSelect01">Post</label>
            </div>
            <select #qtd2 class="custom-select" id="inputGroupSelect01">
              <option selected>Quantidade de post..</option>
              <option value="10">10</option>
              <option value="20">20</option>
              <option value="30">30</option>
            </select>
            <span style="font-size: 0.9em; color: grey" id="helpBlock" class="help-block">A quantidade de curtida por post ou foto será o pacote divido pelo numero de post que escolher ex: 1000/10, 1000/20
              e 1000/30.</span>
          </div>

          <button *ngIf="carteira > 30" type="button" (click)="enviarPacote(user2.value, qtd2.value, service2.value, 30)" class="btn btn-primary btn-lg btn-block">Comprar</button>
        </div>
      </div>
      <div class="card text-dark bg-light mb-3" style="max-width: 18rem;">
        <div class="card-header">
          <i class="fab fa-instagram"></i> Pacote 3000 Curtidas instagram</div>
        <div class="card-body">
          <h5 class="card-title">
            <i class="far fa-money-bill-alt"></i> R$45</h5>

          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">
                <i class="fab fa-instagram"></i>
              </span>
            </div>
            <input #user3 type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
            <input #service3 type="hidden" class="form-control" value="Pacote 3000 curtidas" aria-label="Username" aria-describedby="basic-addon1">
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <label class="input-group-text" for="inputGroupSelect01">Post</label>
            </div>
            <select #qtd3 class="custom-select" id="inputGroupSelect01">
              <option selected>Quantidade de post..</option>
              <option value="10">10</option>
              <option value="20">20</option>
              <option value="30">30</option>
            </select>
            <span style="font-size: 0.9em; color: grey" id="helpBlock" class="help-block">A quantidade de curtida por post ou foto será o pacote divido pelo numero de post que escolher ex: 1000/10, 1000/20
              e 1000/30.</span>
          </div>

          <button *ngIf="carteira > 45" type="button" (click)="enviarPacote(user3.value, qtd3.value, service3.value, 45)" class="btn btn-primary btn-lg btn-block">Comprar</button>
        </div>
      </div>
    </div>

    <div class="card-deck">
      <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
        <div class="card-header">
          <i class="fab fa-instagram"></i> Pacote 4000 Curtidas instagram</div>
        <div class="card-body">
          <h5 class="card-title">
            <i class="far fa-money-bill-alt"></i> R$60</h5>

          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">
                <i class="fab fa-instagram"></i>
              </span>
            </div>
            <input #user4 type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
            <input #service4 type="hidden" class="form-control" value="Pacote 4000 curtidas" aria-label="Username" aria-describedby="basic-addon1">
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <label class="input-group-text" for="inputGroupSelect01">Post</label>
            </div>
            <select #qtd4 class="custom-select" id="inputGroupSelect01">
              <option selected>Quantidade de post..</option>
              <option value="10">10</option>
              <option value="20">20</option>
              <option value="30">30</option>
            </select>
            <span style="font-size: 0.9em; color: white" id="helpBlock" class="help-block">A quantidade de curtida por post ou foto será o pacote divido pelo numero de post que escolher ex: 1000/10, 1000/20
              e 1000/30.</span>
          </div>

          <button *ngIf="carteira > 60" type="button" (click)="enviarPacote(user4.value, qtd4.value, service4.value, 60)" class="btn btn-primary btn-lg btn-block">Comprar</button>
        </div>
      </div>
      <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
        <div class="card-header">
          <i class="fab fa-instagram"></i> Pacote 5000 Curtidas instagram</div>
        <div class="card-body">
          <h5 class="card-title">
            <i class="far fa-money-bill-alt"></i> R$75</h5>

          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">
                <i class="fab fa-instagram"></i>
              </span>
            </div>
            <input #user5 type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
            <input #service5 type="hidden" class="form-control" value="Pacote 5000 curtidas" aria-label="Username" aria-describedby="basic-addon1">
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <label class="input-group-text" for="inputGroupSelect01">Post</label>
            </div>
            <select #qtd5 class="custom-select" id="inputGroupSelect01">
              <option selected>Quantidade de post..</option>
              <option value="10">10</option>
              <option value="20">20</option>
              <option value="30">30</option>
            </select>
            <span style="font-size: 0.9em; color: white" id="helpBlock" class="help-block">A quantidade de curtida por post ou foto será o pacote divido pelo numero de post que escolher ex: 1000/10, 1000/20
              e 1000/30.</span>
          </div>

          <button *ngIf="carteira > 75" type="button" (click)="enviarPacote(user5.value, qtd5.value, service5.value, 75)" class="btn btn-primary btn-lg btn-block">Comprar</button>
        </div>
      </div>
      <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
        <div class="card-header">
          <i class="fab fa-instagram"></i> Pacote 6000 Curtidas instagram</div>
        <div class="card-body">
          <h5 class="card-title">
            <i class="far fa-money-bill-alt"></i> R$90</h5>

          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">
                <i class="fab fa-instagram"></i>
              </span>
            </div>
            <input #user6 type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
            <input #service6 type="hidden" class="form-control" value="Pacote 6000 curtidas" aria-label="Username" aria-describedby="basic-addon1">
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <label class="input-group-text" for="inputGroupSelect01">Post</label>
            </div>
            <select #qtd6 class="custom-select" id="inputGroupSelect01">
              <option selected>Quantidade de post..</option>
              <option value="10">10</option>
              <option value="20">20</option>
              <option value="30">30</option>
            </select>
            <span style="font-size: 0.9em; color: white" id="helpBlock" class="help-block">A quantidade de curtida por post ou foto será o pacote divido pelo numero de post que escolher ex: 1000/10, 1000/20
              e 1000/30.</span>
          </div>

          <button *ngIf="carteira > 90" type="button" (click)="enviarPacote(user6.value, qtd6.value, service6.value, 90)" class="btn btn-primary btn-lg btn-block">Comprar</button>
        </div>
      </div>
    </div>
    <div class="card-deck">
      <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
        <div class="card-header">Pacote 7000 Curtidas instagram</div>
        <div class="card-body">
          <h5 class="card-title">
            <i class="far fa-money-bill-alt"></i> R$105</h5>

          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">
                <i class="fab fa-instagram"></i>
              </span>
            </div>
            <input #user7 type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
            <input #service7 type="hidden" class="form-control" value="Pacote 7000 curtidas" aria-label="Username" aria-describedby="basic-addon1">
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <label class="input-group-text" for="inputGroupSelect01">Post</label>
            </div>
            <select #qtd7 class="custom-select" id="inputGroupSelect01">
              <option selected>Quantidade de post..</option>
              <option value="10">10</option>
              <option value="20">20</option>
              <option value="30">30</option>
            </select>
            <span style="font-size: 0.9em; color: white" id="helpBlock" class="help-block">A quantidade de curtida por post ou foto será o pacote divido pelo numero de post que escolher ex: 1000/10, 1000/20
              e 1000/30.</span>
          </div>

          <button *ngIf="carteira > 105" type="button" (click)="enviarPacote(user7.value, qtd7.value, service7.value, 105)" class="btn btn-primary btn-lg btn-block">Comprar</button>
        </div>
      </div>
      <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
        <div class="card-header">Pacote 8000 Curtidas instagram</div>
        <div class="card-body">
          <h5 class="card-title">
            <i class="far fa-money-bill-alt"></i> R$120</h5>

          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">
                <i class="fab fa-instagram"></i>
              </span>
            </div>
            <input #user8 type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
            <input #service8 type="hidden" class="form-control" value="Pacote 8000 curtidas" aria-label="Username" aria-describedby="basic-addon1">
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <label class="input-group-text" for="inputGroupSelect01">Post</label>
            </div>
            <select #qtd8 class="custom-select" id="inputGroupSelect01">
              <option selected>Quantidade de post..</option>
              <option value="10">10</option>
              <option value="20">20</option>
              <option value="30">30</option>
            </select>
            <span style="font-size: 0.9em; color: white" id="helpBlock" class="help-block">A quantidade de curtida por post ou foto será o pacote divido pelo numero de post que escolher ex: 1000/10, 1000/20
              e 1000/30.</span>
          </div>

          <button *ngIf="carteira > 120" type="button" (click)="enviarPacote(user8.value, qtd8.value, service8.value, 120)" class="btn btn-primary btn-lg btn-block">Comprar</button>
        </div>
      </div>

      <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
        <div class="card-header">Pacote 9000 Curtidas instagram</div>
        <div class="card-body">
          <h5 class="card-title">
            <i class="far fa-money-bill-alt"></i> R$135</h5>

          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">
                <i class="fab fa-instagram"></i>
              </span>
            </div>
            <input #user9 type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
            <input #service9 type="hidden" class="form-control" value="Pacote 9000 curtidas" aria-label="Username" aria-describedby="basic-addon1">
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <label class="input-group-text" for="inputGroupSelect01">Post</label>
            </div>
            <select #qtd9 class="custom-select" id="inputGroupSelect01">
              <option selected>Quantidade de post..</option>
              <option value="10">10</option>
              <option value="20">20</option>
              <option value="30">30</option>
            </select>
            <span style="font-size: 0.9em; color: white" id="helpBlock" class="help-block">A quantidade de curtida por post ou foto será o pacote divido pelo numero de post que escolher ex: 1000/10, 1000/20
              e 1000/30.</span>
          </div>

          <button *ngIf="carteira > 135 " type="button" (click)="enviarPacote(user9.value, qtd9.value, service9.value, 135)" class="btn btn-primary btn-lg btn-block">Comprar</button>
        </div>
      </div>
    </div>

  </div>
