<div class="content-wrapper">
  <div class="container-fluid">
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <span>Adicionar Créditos</span>
      </li>
    </ol>
    <!-- Icon Cards-->
    <div class="row">
      <div class="col-xl-3 col-sm-6 mb-3">
        <div class="card text-white bg_card o-hidden h-100">
          <div class="card-body">
            <div class="card-body-icon">
            </div>
            <div class="mr-7 text-center" style="font-size: 1.5em">Adicionar</div>
          </div>
          <div class="card-footer text-white clearfix small z-1">
            <a href="http://mpago.la/MOK2" target="_blank" style="font-size: 2em; text-decoration: none; color: white">
              <div style="text-align: center">
                <strong>R$10</strong>
              </div>
            </a>

            <span class="float-right">
            </span>
          </div>
        </div>
      </div>

      <div class="col-xl-3 col-sm-6 mb-3">
        <div class="card text-white bg_card2 o-hidden h-100">
          <div class="card-body">
            <div class="card-body-icon">
            </div>
            <div class="mr-7 text-center" style="font-size: 1.5em">Adicionar</div>
          </div>
          <div class="card-footer text-white clearfix small z-1">
            <a href="http://mpago.la/ecws" target="_blank" style="font-size: 2em; text-decoration: none; color: white">
              <div style="text-align: center">
                <strong>R$20</strong>
              </div>
            </a>
            <span class="float-right">
            </span>
          </div>
        </div>
      </div>

      <div class="col-xl-3 col-sm-6 mb-3">
        <div class="card text-white bg_card3 o-hidden h-100">
          <div class="card-body">
            <div class="card-body-icon">
            </div>
            <div class="mr-7 text-center" style="font-size: 1.5em">Adicionar</div>
          </div>
          <div class="card-footer text-white clearfix small z-1">
            <a href="http://mpago.la/sLbm" target="_blank" style="font-size: 2em; text-decoration: none; color: white">
              <div style="text-align: center">
                <strong>R$50</strong>
              </div>
            </a>
            <span class="float-right">
            </span>
          </div>
        </div>
      </div>

      <div class="col-xl-3 col-sm-6 mb-3">
        <div class="card text-white bg_card4 o-hidden h-100">
          <div class="card-body">
            <div class="card-body-icon">
            </div>
            <div class="mr-7 text-center" style="font-size: 1.5em">Adicionar</div>
          </div>
          <div class="card-footer text-white clearfix small z-1">
            <a href="http://mpago.la/KKCG" target="_blank" style="font-size: 2em; text-decoration: none; color: white">
              <div style="text-align: center">
                <strong>R$100</strong>
              </div>
            </a>
            <span class="float-right">
            </span>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <div class="img_transfer">
      <h2 class="texto_transfer">Via transferência, você ganha bonus em seu crédito adicionado</h2>
      <br>
      <img src="assets/img/img_transfere.png" class="img-responsive t_img" width="600" alt="">
    </div>

    <!-- Example DataTables Card-->
  </div>
  <!-- /.container-fluid-->
