<div class="bg-dark">
  <div class="container">
    <div class="card card-login mx-auto mt-5">
      <div class="card-header">Login</div>
      <div class="card-body">
        <form [formGroup]="meuFormulario"  (ngSubmit)="logar()">
          <div class="form-group">
            <label for="exampleInputEmail1">Endereço de email</label>
            <input class="form-control" type="email" formControlName="email" name="email" 
            [class.is-invalid]="meuFormulario.get('email').invalid && meuFormulario.get('email').touched"
            [class.is-valid]="meuFormulario.get('email').valid" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Sua senha</label>
            <input class="form-control" formControlName="password" name="password" id="exampleInputPassword1" type="password" placeholder="Senha">
          </div>
          <button type="submit" [disabled]="meuFormulario.invalid" class="btn btn-primary btn-block">Logar</button>
        </form>
        <div class="text-center">
          <a class="d-block small mt-3" routerLink="/registrar">Registrar nova conta</a>
          <a class="d-block small" routerLink="/minha-senha">Esqueci minha senha</a>
        </div>
      </div>
    </div>
  </div>
</div>