<div class="content-wrapper">
  <div class="container-fluid">
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <span>Termos de Uso</span>
      </li>
    </ol>

   <div class="col-md-offset-2 col-md-8">
    <p class="justificado">
      Por favor leia esta página com atenção. Estes termos e condições constituem a documentação legal para garantir que um contrato juridicamente vinculativo esteja em vigor entre nós e você.</p>
      
  
     <p class="justificado">
      <b>Termos</b><br>
      <br>   
      Ao utilizar a followpop.com.br você concorda em obedecer todas as regras do site. Você reconhece que essas regras podem mudar ao longo do tempo e que você irá obedecer a sua forma mais atual.</p> 
      
      <p class="justificado">
      <b>Geral</b><br>
      <br>  
      1. Este é o contrato de termos de serviço mais recente a partir de 26 de Outubro de 2017.<br>  
      2. A FollowPop pode modificar ou revisar estes Termos de Serviço a qualquer momento sem aviso prévio.<br>  
      3. Todas as modificações ou revisões recentes feitas pela FollowPop substituem todos os acordos anteriores e produzem efeitos na data da publicação.<br>  
      4. A continuação do uso do serviço na sequência de alterações recentes significa o seu consentimento para os Termos de Serviço revistos.<br>  
      5. Você também concorda em se informar sobre as mudanças recentes nos Termos de Serviço através de revisões periódicas na plataforma da FollowPop.</p>
      
      <p class="justificado">
      <b>Cadastro</b><br>
      <br>   
      1. Ao registrar-se, você afirma que tem mais de 18 anos de idade ou um acompanhante que responda por você completamente capaz e competente para entrar nos termos e condições estabelecidos nestes Termos de Serviço e cumpri-los.</p>
      
      <p class="justificado">
      <b>Compra</b><br>
      <br>   
      1. Você concorda que, ao adquirir créditos na FollowPop, você compreende e aceita claramente o que está comprando e não apresentará uma disputa fraudulenta.<br>  
      2. Após uma tentativa fraudulenta de arquivar uma disputa ou inadimplência, concedemos o direito, se necessário, de redefinir todos os créditos, encerrar sua conta, reverter todos os pedidos enviados a partir de sua conta e / ou proibir permanentemente seu endereço IP.<br>  
      3. Os créditos são recebidos logo após a compra ser concluída e não serão usados até que você o faça, salvo em caso de consentimento prévio por escrito e enviado a um representante FollowPop.<br>  
      4. Uma vez que a FollowPop oferece bens irrevogáveis ​​não tangíveis, você concorda que, após a compra, você não pode cancelar / interromper ou remover quaisquer ações iniciadas. Você entende que, ao comprar qualquer mercadoria no FollowPop, esta decisão é final e você não poderá reverter.</p> 
      
      <p class="justificado">
      <b>Responsabilidade</b><br>
      <br>   
      1. Você concorda que seu uso de FollowPop é por sua conta e risco.<br>  
      2. A FollowPop não pode ser responsabilizada por qualquer tipo de prejuízo que você ou sua empresa possam receber.<br>  
      2. FollowPop não garante o tempo de atividade ou disponibilidade do site, pois usa a internet para entregar seus serviços.</p>
      
      <p class="justificado"> 
      <b>Utilização</b><br>
      <br>   
      1. Você não deve criar várias contas, caso contrário será banido.<br> 
      2. Após o envio do pedido, o cancelamento não será aceito.<br>  
      3. Não deixe a sua página privada ou remova o link de compartilhamento. Uma vez que um desses eventos ocorrer, o pedido será marcado imediatamente como cancelado e nenhum reembolso será fornecido. 
      4. Você não deve usar a FollowPop para promover quaisquer atividades ilegais, enganosas, maliciosas ou discriminatórias.<br>  
      5. Não utilize o mesmo serviço de diferentes fornecedores simultaneamente. Nesse caso a FollowPop não se responsabilizará pelo resultado esperado.<br> 
      6. Não envie pedidos repetidos sem que o anterior já tenha sido concluído. Sua entrega pode atrasar em dias e até mesmo ser cancelada. </p>
    
    </div>