<div class="bg-dark">
  <div class="container">
    <div class="card card-login mx-auto mt-5">
      <div class="card-header">Formulário de Registro</div>
      <div class="card-body">
        <form [formGroup]="formRegistro" (ngSubmit)="registrar()" novalidate>
          <div class="form-group">
            <input  id="inputdefault" class="form-control" type="text" formControlName="nome" [class.is-invalid]="formRegistro.get('nome').invalid && formRegistro.get('nome').touched"
            [class.is-valid]="formRegistro.get('nome').valid" name="nome" aria-describedby="emailHelp" placeholder="Nome">
          </div>

          <div class="form-group ">
            <input class="form-control" type="text" formControlName="sobrenome"
            [class.is-invalid]="formRegistro.get('sobrenome').invalid && formRegistro.get('sobrenome').touched"
            [class.is-valid]="formRegistro.get('sobrenome').valid" name="sobrenome" aria-describedby="emailHelp" placeholder="Sobrenome">
          </div>

          <div class="form-group">
            <input class="form-control" type="tel" formControlName="celular" name="celular" 
            [class.is-invalid]="formRegistro.get('celular').invalid && formRegistro.get('celular').touched"
            [class.is-valid]="formRegistro.get('celular').valid" aria-describedby="emailHelp" placeholder="Celular">
          </div>

          <div class="form-group">
            <input class="form-control" type="email" formControlName="email" name="email" 
            [class.is-invalid]="formRegistro.get('email').invalid && formRegistro.get('email').touched"
            [class.is-valid]="formRegistro.get('email').valid" aria-describedby="emailHelp" placeholder="Email">
          </div>

          <div class="form-group">
            <input class="form-control" formControlName="password" name="password" [class.is-invalid]="!formRegistro.get('password').valid && formRegistro.get('password').touched" 
            [class.is-valid]="formRegistro.get('password').valid" type="password" placeholder="Senha">
          </div>

          <div class="form-group">
            <input class="form-control" formControlName="password2" name="password2" [class.is-invalid]="!formRegistro.get('password2').valid && formRegistro.get('password2').touched" 
            [class.is-valid]="formRegistro.get('password2').valid" type="password" placeholder="Repita senha">
          </div>

          <button type="submit" [disabled]="formRegistro.invalid" class="btn btn-primary btn-block" class="btn btn-primary btn-block">Registrar</button>
        </form>
        <div class="text-center">
          <a class="d-block small mt-3" [routerLink]="['/login']">Voltar para login</a>
          <a class="d-block small" [routerLink]="['/senha']">Esqueci minha senha</a>
        </div>
      </div>
    </div>
  </div>
</div>
