<div class="content-wrapper">
  <div class="container-fluid">
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <span>Comentários Instagram</span>
      </li>
    </ol>
    <!-- Icon Cards-->
    {{instaComentariosForm.valid | json}}
    <form [formGroup]="instaComentariosForm" class="form-horizontal">
      <div class="form-group">
        <label for="url" class="col-sm-2 control-label">Url da postagem</label>
        <div class="col-sm-10">
          <input type="text" formControlName="link" class="form-control input-lg" id="url" placeholder="URL">
          <span style="font-size: 0.9em; color: grey" id="helpBlock" class="help-block">Exemplo: https://instagram.com/justinbieber/</span>
        </div>
      </div>

      <div class="form-group">
        <label for="qtd" class="col-sm-2 control-label">Quantidade</label>
        <div class="col-sm-10">
          <input #qtd type="number" formControlName="quantidade" [value]="countArea()" disabled minlength="10" id="qtd" class="form-control input-lg" aria-describedby="helpBlock">
          <span style="font-size: 0.9em; color: grey" id="helpBlock" class="help-block">A quantidade mínima deve ser 10</span>
        </div>

        
      </div>

      <div class="form-group">
          <label for="area" class="col-sm-2 control-label">Comentários </label>
          <div class="col-sm-10">
            <textarea class="form-control" formControlName="area" name="area" id="area" rows="7"></textarea>
            <span style="font-size: 0.9em; color: grey" id="helpBlock" class="help-block">1 comentário por linha, pressione enter para pular</span><br>
            <span style="font-size: 0.9em; color: grey" id="helpBlock" class="help-block">Comentários de usuários aleatórios global em português</span>
          </div>
      </div>

      <div class="valor">
        <h3>Valor Total: R$
          <span id="vlrTotal">{{totalValor()}}</span>
        </h3>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button *ngIf="carteira > totalValor()" (click)="enviarComentarios(instaComentariosForm.value)" type="submit" [disabled]="instaComentariosForm.invalid || qtd.value < 10"
            class="btn btn-block btn-default">Enviar comentários</button>
            <p *ngIf="carteira < totalValor()">Saldo insuficiente</p>
        </div>
      </div>
    </form>

  </div>

</div>
