<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
  <a class="navbar-brand" [routerLink]="['/painel']">Follow Pop</a>
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive"
    aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarResponsive">
    <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
      <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
        <a class="nav-link" [routerLink]="['/painel']">
          <i class="fas fa-home"></i>
          <span class="nav-link-text"> Início</span>
        </a>
      </li>
      <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Components">
        <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseComponents" data-parent="#exampleAccordion">
          <i class="fab fa-instagram"></i>
          <span class="nav-link-text"> Instagram</span>
        </a>
        <ul class="sidenav-second-level collapse" id="collapseComponents">
          <li>
            <a [routerLink]="['insta-curtidas']">
              <i class="fab fa-instagram"></i> Curtidas instagram Br</a>
          </li>
          <li>
            <a [routerLink]="['insta-seguidores']">
              <i class="fab fa-instagram"></i> Seguidores instagram Br</a>
          </li>
          <li>
            <a [routerLink]="['insta-stories']">
              <i class="fab fa-instagram"></i> Views stories instagram</a>
          </li>
          <li>
            <a [routerLink]="['insta-comentarios']">
              <i class="fab fa-instagram"></i> Comentários instagram</a>
          </li>
        </ul>
      </li>


      <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Example Pages">
        <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseExamplePages" data-parent="#exampleAccordion">
          <i class="fab fa-facebook"></i>
          <span class="nav-link-text"> Facebook</span>
        </a>
        <ul class="sidenav-second-level collapse" id="collapseExamplePages">
          <li>
            <a [routerLink]="['face-curtidaspost']">
              <i class="fab fa-facebook"></i> Curtidas em Foto/Postagem br</a>
          </li>
          <li>
            <a [routerLink]="['face-curtidasglobal']">
              <i class="fab fa-facebook"></i> Curtidas em Foto/Postagem global</a>
          </li>
          <li>
            <a [routerLink]="['face-curtidaspagina']">
              <i class="fab fa-facebook"></i> Curtidas em Pagina</a>
          </li>
          <li>
            <a [routerLink]="['face-seguidores']">
              <i class="fab fa-facebook"></i> Seguidores facebook</a>
          </li>
        </ul>
      </li>
      <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Menu Levels">
        <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseMulti" data-parent="#exampleAccordion">
          <i class="fab fa-youtube"></i>
          <span class="nav-link-text"> Youtube</span>
        </a>
        <ul class="sidenav-second-level collapse" id="collapseMulti">
          <li>
            <a [routerLink]="['youtube-views']">
              <i class="fab fa-youtube"></i> Visualizações Youtube Br</a>
          </li>
          <li>
            <a [routerLink]="['youtube-likes']">
              <i class="fab fa-youtube"></i> Youtube Likes</a>
          </li>
          <li>
            <a [routerLink]="['youtube-dislikes']">
              <i class="fab fa-youtube"></i> Youtube Dislikes</a>
          </li>

          <li>
            <a [routerLink]="['youtube-subscribe']">
              <i class="fab fa-youtube"></i> Youtube Inscritos</a>
          </li>

        </ul>
      </li>
      <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Link">
        <a class="nav-link" [routerLink]="['termos']">
          <i class="fas fa-book"></i>
          <span class="nav-link-text"> Termos de uso</span>
        </a>

        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Link">
          <a class="nav-link" href="http://api.whatsapp.com/send?1=pt_BR&phone=5513991122174">
            <i class="fab fa-whatsapp"></i>
            <span class="nav-link-text"> Contato</span>
          </a>
        </li>

    </ul>


    <ul class="navbar-nav ml-auto">
      <li *ngIf="!isAuth" class="nav-item">
        <a class="nav-link" data-toggle="modal" data-target="#exampleModal">
          <i class="fas fa-sign-out-alt"></i> Sair</a>
      </li>
    </ul>

  </div>
</nav>

<router-outlet></router-outlet>

<!-- /.content-wrapper-->
<footer class="sticky-footer">
  <div class="container">
    <div class="text-center">
      <small>Painel Followpop</small>
    </div>
  </div>
</footer>
<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
  <i class="fa fa-angle-up"></i>
</a>
<!-- Logout Modal-->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Quer mesmo sair?</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">Selecione "Logout" se você deseja sair do painel.</div>
      <div class="modal-footer">
        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
        <a class="btn btn-primary" href="" (click)="logout()">Logout</a>
      </div>
    </div>
  </div>
</div>
