<div class="content-wrapper">
  <div class="container-fluid">
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <span>Tire suas dúvidas</span>
      </li>
    </ol>

    <div class="col-md-offset-2 col-md-8">
      <h3>- Como fazer um novo pedido?</h3>
      <p class="justificado">Na aba lateral(desktop) ou superior (mobile) existe os serviços para cada rede social específica.</p>
      <p class="justificado">No campo Link - preencha o link para a página no formato indicado no exemplo.</p>
      <p class="justificado">No campo Quantidade - preencha a quantidade necessária de curtidas / seguidores respeitando o formato indicado.</p>
      <br>
      <h3>- Instruções</h3>
      <p class="justificado">
          <b>*Aviso:</b> Ao fazer um pedido, não coloque o mesmo link ao mesmo tempo nos mesmos serviços ou serviços diferentes até que o pedido seja totalmente concluído ou cancelado.</p>
        <p class="justificado">
            <b>*Exemplo:</b> se você fizer um pedido para o mesmo perfil ao mesmo tempo, ele contará apenas UM PEDIDO, não será possível obter seguidores para os dois pedidos, então aguarde um tempo antes de enviar.
        Não compre seguidores / curtidas de outros sites, isso pode causar conflitos.
      </p>
      <p class="justificado">
          <b> *Verificação de privacidade:</b> antes de efetuar um pedido, verifique se sua conta está como "PÚBLICA" ou não somente com o perfil público o serviço irá funcionar.
       </p>
       <p class="justificado">
          <b>*Cancelamento de Pedidos: </b> Não podemos cancelar nenhum pedido após o envio porque nosso serviço agora é processado automaticamente. Então envie seus pedidos com cuidado. Os pedidos serão cancelados automaticamente se
        houver algum erro.
       </p>
       <p class="justificado">
          <b>*Exibições do YouTube:</b> os pedidos devem ter 1000, 2000, 3000 *NESTE FORMATO*. Não coloque nenhum número diferente com por exemplo: 1020 ou 3125. Isso não será aceito. 
       </p>
       <br>
       <h3>- Hora de entrega da encomenda:</h3>

       <p class="justificado">
          <b>*Tempo:</b> Alguns serviços serão entregues no ato, mas outros acabam demorando mais, como por exemplo o serviço de curtidas em página do Facebook que pode levar até 48 horas após a confirmação do pagamento. </p>

       <p class="justificado">
          <b>*Duvidas: </b>Estamos disponíveis para qualquer tipo de dúvida que você tenha, nossos contatos estão em nosso site e também aqui no painel. Nos dê seu feedback a respeito de nosso serviço, ficaremos muito gratos em ouvi-lo. Equipe FollowPop!
       </p>

    </div>
