<div class="content-wrapper">
  <div class="container-fluid">
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <span>Tire suas dúvidas</span>
      </li>
    </ol>

    <div class="col-md-offset-2 col-md-8">
      <h3>- Como fazer um novo pedido?</h3>
      <p class="justificado">na aba lateral(desktop) ou superior (mobile) existe os serviços para cada rede social específica.</p>
      <p class="justificado">no campo Link - preencha o link para a página no formato indicado no exemplo.</p>
      <p class="justificado">no campo Quantidade - preencha a quantidade necessária de curtidas / seguidores respeitando o formato indicado.</p>
      <br>
      <br>
      <h3>- Instruções</h3>
      <p class="justificado">
        *Aviso: Ao fazer um pedido, não coloque o mesmo link ao mesmo tempo nos mesmos serviços ou serviços diferentes até que o
        pedido seja totalmente concluído ou cancelado. Exemplo se você fizer um pedido para o mesmo perfil ao mesmo tempo,
        ele contará apenas UM PEDIDO, não será possível obter seguidores para os dois pedidos, então aguarde um tempo antes
        de enviar. Não compre seguidores / curtidas de outros sites, isso pode causar conflitos.
      </p>



    </div>
