<div class="content-wrapper">
  <div class="container-fluid">
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <span>Curtidas Instagram</span>
      </li>
    </ol>
    <!-- Icon Cards-->
    <form [formGroup]="instaCurtidasForm" class="form-horizontal">
      <div class="form-group">
        <label for="url" class="col-sm-2 control-label">Url da postagem</label>
        <div class="col-sm-10">
          <input type="text" formControlName="link" class="form-control input-lg" id="url" placeholder="URL">
          <span style="font-size: 0.9em; color: grey" id="helpBlock" class="help-block">Exemplo: <strong>http://instagram.com/p/41pLaAgvmo/</strong> </span>
        </div>
      </div>

      <div class="form-group">
        <label for="qtd" class="col-sm-2 control-label">Quantidade</label>
        <div class="col-sm-10">
          <input #qtd type="number" formControlName="quantidade" minlength="100" id="qtd" class="form-control input-lg" aria-describedby="helpBlock">
          <span style="font-size: 0.9em; color: grey" id="helpBlock" class="help-block">A Quantidade deve terminar apartir de dois digitos 0 ex: 100, 500, 2000 etc.</span>
        </div>
      </div>

      <div class="valor">
        <h3>Valor Total: R$
          <span id="vlrTotal">{{totalValor()}}</span>
        </h3>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button *ngIf="carteira > totalValor()" (click)="enviarCurtida(instaCurtidasForm.value)" type="submit" [disabled]="instaCurtidasForm.invalid || qtd.value < 100"
            class="btn btn-block btn-default">Enviar curtidas</button>
            <p *ngIf="carteira < totalValor()">Saldo insuficiente</p>
        </div>
      </div>
    </form>



  </div>


</div>
